*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 15pt;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
p{
  color: #555;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin-right:20px;
}
nav ul li a{
  text-decoration: none;
  color: #555;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-1{
  flex-basis: 50%;
  min-width: 300px;
}
.col-1 img{
  max-width: 100%;
  padding: 50px 0;
}
.header{
  background: radial-gradient(#974ec3, #ffd6d6)
}
.categories {
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 20px;
}
.col-3 img{
  width: 100%;
}




.small-container{
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-4 img{
  width: 100%;
}